# If you have additional files that you want to ignore that are specific to
# your machine, consider putting them in .git/info/exclude.

# Rust build
target/
*/target/

# Environmental variables
*.env
runelink-server/config.toml
